* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;  /* 10 pixels no root*/
}

body {
    background: url('../images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(257, 40%, 49%);
    font-size: 1.1rem;
    color: white;

    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;

    height: 100vh;

    margin: 2rem;
}

#logo {
    width: 20rem;

    margin-bottom: 6.5rem;
}

.container {
    display: flex;

    flex-direction: column;
    justify-content: center;
}

img#bg {
    margin-bottom: 10rem;
    margin: 0 auto 4rem;

    width: 85%;
}

.conteudo {
    display: flex;
    height: 85%;
    flex-direction: column;
    justify-content: space-between;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;

    width: 90%;
    margin: 0 auto 1rem;
}

section p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;

    text-align: center;
    margin: 0 auto 2rem;
    width: 90%;
}

button {
    background: #fff;
    border: none;
    border-radius: 5rem;

    width: 23rem;
    height: 5rem;

    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    margin: auto;
}
.circles {
    position: relative;

    display: flex;
    justify-content: space-between;
}

.circle {
    position: absolute;

    z-index: 10;

    font-size: 8rem;
}

.icons {
    display: flex;
    justify-content: space-between;

    margin: 4rem auto 0;
    padding: 0 9rem;

    width: 90%;
}

.icons i {
    font-size: 2rem;
}